{% extends "food/base.html" %}
{% block body %}
    <div class="row">
        <div class="offset-md-2 col-4">
            <img src="{{item.item_image}}" alt="{{item.item_name}}" class="card"height="300px" width="300px;">
        </div>
        <div class="col-6">
            <h3>{{item.item_name}}</h3>
            <h3>{{item.item_desc}}</h3>
            <h3>{{item.item_price}}</h3>
            <a href="{% url 'food:edit_item' item.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'food:delet_item' item.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    
{% endblock %}